<%= render 'shared/banner' %>
<div class="container">
  <h1 class="display-5 banner-title">Tous les itinéraires</h1>
</div>

<div class="container">
  <% if @itineraries.count > 0 %>
    <p><%= @itineraries.count%> itinéraires trouvés </p>
  <% end %>
  <div class="row">
    <% @itineraries.each do |itinerary| %>
      <div>
      <%= render 'shared/card', itinerary: itinerary %>
      </div>
    <% end %>  
  </div>
  <%= link_to "Add an itinerary", new_itinerary_path %>
</div>
