<div class="container">

  <div class="row align-items-center p-3">
    <div class="col-10 pr-1">
      <input type="text" class="form-control" placeholder="Chercher un itinéraire ou un massif">
    </div>
    <div class="col pl-1">
      <button class="btn btn-primary btn-block" type="submit">GO</button>
    </div>
  </div>


  <% if @itineraries.count > 0 %>
    <p> <%= pluralize(@itineraries.count, 'itinéraire trouvé', plural: 'itinéraires trouvés')%> </p>
  <% end %>

  <div class="cards-layout">
    <% @itineraries.each do |itinerary| %>
      <div>
        <%= render 'shared/card', itinerary: itinerary %>
      </div>
    <% end %>
  </div>
</div>
