<div class="banner-img">
  <div class="container">
    <h1 class="display-5 banner-title">Skiez en toute sécurité</h1>


    <div class="row align-items-center p-3">
      <div class="col-11 pr-1">
        <%= form_tag itineraries_path, method: :get, class: "form-group m-0" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Course, massif ..."
          %>
      </div>
      <div class="col-1 pl-1">
         <%= submit_tag "GO", class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>

  </div>
</div>
