<div class="banner-img">
  <div class="container">
    <h1 class="display-5 banner-title">Skiez en toute sécurité</h1>
    <div id="search-bar">
    	<%= form_tag itineraries_path, method: :get, class: "banner-form form-group form-inline" do %>
        <div class="banner-form-input d-flex justify-content-between">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Course, massif ..."
          %>
        </div>
        <div>
          <%= submit_tag "Lancer la recherche", class: "btn btn-primary" %>
           <% end %>
        </div>
    </div>
  </div>
</div>
