<div class="banner-img">
  <div class="container">
    <h1 class="display-5 banner-title">Skiez en toute sécurité</h1>
    <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
  </div>
</div>
