<% favorite_i = favorite.itinerary %>
<div>
  <%= render 'shared/card', itinerary: favorite_i  %>
</div>

<div class="d-flex justify-content-around mt-3" style="width: 300px; margin: 0 auto">
  <div class="d-flex flex-column">
    <i class="fas fa-minus" style="display: inline-block; margin: 0 auto"></i>
    <%= link_to "Favoris", itinerary_favorite_path(favorite_i.id, favorite.id), method: "delete" %>
  </div>
  <div class="d-flex flex-column">
    <i class="fas fa-share-alt" style="display: inline-block; margin: 0 auto"></i>

    <% body = render 'shared/share_email', itinerary: favorite_i %>
    <%= mail_to "", "Partager", subject: "#{current_user.username} a partagé un itinéraire Safe Powder Ride avec vous", body: body %>
  </div>
  <div class="d-flex flex-column">
    <i class="fas fa-cloud-download-alt" style="display: inline-block; margin: 0 auto"></i>
    <%= link_to "Télécharger", download_pdf_path(favorite_i), method: "post" %>
  </div>
</div>
