<footer id ="footer">
  <div class="d-flex justify-content-around">
    <%= link_to "En savoir plus", "#"  %>
    <%= link_to "Mentions légales", "#" %>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Safe Powder Ride", home_path, class: "text-center text-secondary" %>
  </div>
  <!-- <h6 class="text-center text-white">Safe Powder Ride</h3> -->
</footer>
