<div class="container">
  <h2 class="text-center my-5">Concept</h2>


<div class="row align-items-center">
  <div class="col-4">
    <%= image_tag "undraw_navigator.svg", alt: "concept", width: '100%'%>
  </div>
  <div class="col-8">
    <p class="mb-0">Vous partez en rando demain ?  <br>
      Vous cherchez des itinéraires sécurisés ?  <br>
      <strong>SafePowder vous aide !</strong>
    </p>
  </div>
</div>

<h2 class="text-center my-5"> Qui sommes nous?</h2>


<div class="row align-items-center">
  <div class="col-4">
    <%= image_tag "undraw_weather.svg", alt: "weather", width: '100%'%>
  </div>
  <div class="col-8">
    <p class="mb-0">Une équipe de passionnés qui souhaite rendre la montagne plus accessible à tous !
    </p>
  </div>
</div>


<h2 class="text-center my-5"> Comment le risque est-il calculé ?</h2>


<div class="row align-items-center">
  <div class="col-4">
    <%= image_tag "bra-echelle.jpg", alt: "BRA", width: '100%'%>
  </div>
  <div class="col-8">
    <p class="mb-0"> Dès leur publication, nous prenons les informations du BRA (Bulletin Risque d'Avalanche, source Météo France).
      Ces informations sont ensuite affichées en couleur sur chaque itinéraire de notre application.
    </p>
    <p>
      <strong>L’altitude</strong>
      <%= image_tag "bra-altitude.jpg", alt: "BRA altitude", width:'25%' %> <br>
      Le BRA attire fréquemment l’attention sur une différence du niveau de risque de part et d’autre d’une altitude donnée (risque accentué au-dessus ou en deçà de cette limite).
    </p>
  </div>
</div>




</p>
