<%= render 'shared/banner' %>

<div class="container">
  <div class="card-trip">
    <img src="http://savoie.alpes-refuges.fr/tzr/scripts/resizer.php?filename=CIRCUIT/photo/0e/d7/4y4cezew3d4h&mime=image%2Fjpeg&&originalname=Test.jpg&geometry=907x595%5E&crop=907x595" />
    <div class="card-trip-infos">
      <div>
        <h2>Col des Jumelles Sud par le Vallon de Fontenil</h2>
        <p>Massif des Ecrins</p>
      </div>
      <p class="ml-3"> 2.2 E1 </p>
      <h1 class="risk-level-infos-large"> 3 </h1>
    </div>
  </div>

  <div class="my-5">

  </div>

  <div class="card-product">
    <img src="http://savoie.alpes-refuges.fr/tzr/scripts/resizer.php?filename=CIRCUIT/photo/0e/d7/4y4cezew3d4h&mime=image%2Fjpeg&&originalname=Test.jpg&geometry=907x595%5E&crop=907x595" />
    <div class="card-product-infos">
      <h2>Col des Jumelles Sud par le Vallon de Fontenil</h2>
      <div class="d-flex justify-content-start align-items-center mt-3">
        <h3 class="risk-level-infos-small mr-3"> 2</h3>
        <p>Massif des Ecrins</p>
      </div>
    </div>
  </div>

  <div class="my-5">

  </div>

</div>

<%
doc = Nokogiri::XML(open("/Users/alixgauthier/code/AlixGth/SAFE_POWDER_RIDE/app/views/pages/tour.gpx"))
trackpoints = doc.xpath('//xmlns:trkpt')

array = []
doc.search('trkpt').each_with_index do |trkpt, index|
  ele = trkpt.search('ele').text
  if index > 0
    color = '#A8F70A'
    if ele.to_f > 1500 #alt de changement d'indice de danger
      color = '#F71F0A'
    end
  end
  array <<  [trkpt.attribute("lon").value, trkpt.attribute("lat").value, ele, color ]
end
%>
<div
  id="map"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<div id="hidden" data-waypoints = "<%= array %>" ></div>