<%= render 'shared/banner' %>

<div class="container">
  <% if @itineraries.count > 0 %>
    <p> <%= pluralize(@itineraries.count, 'itinéraire trouvé', plural: 'itinéraires trouvés')%> </p>
  <% end %>

  <div class="cards-layout">
    <% @itineraries.each do |itinerary| %>
      <div>
        <%= render 'shared/card_small', itinerary: itinerary %>
      </div>
    <% end %>
  </div>
</div>
