<%= render 'shared/banner' %>

<div class="container">
  <% if @itineraries.count > 0 %>
    <p> <%= pluralize(@itineraries.count, 'itinéraire trouvé', plural: 'itinéraires trouvés')%> </p>
  <% end %>

  <div class="cards-layout">
  	<% @itineraries = policy_scope(Itinerary).select{ |itinerary| itinerary.mountain.beras.last.risk_max < 4 } %>
    <% @itineraries.each do |itinerary| %>
      <%= render 'shared/card_small', itinerary: itinerary %>
    <% end %>
  </div>
</div>
