#dropdownMenuButton, .dropdown-menu {
  width: 100%;
}

#dropdownMenuButton {
  background-color: $darkblue;
}

.dropdown-menu, select.form-control {
  border-radius: 0;
  padding: 0;
}

#filters {
  padding-bottom: 1rem;
}

#reset {
  display: block;
  width: 100%;
  color: #303030;
  text-align: right;
}
