#footer {
  height: 70px; // même hauteur que margin-bottom du body
  width: 100%;
  margin-bottom: 0px;
  line-height: 24px;
  background-color: #00171F;
  padding: 10px;
    a {
      color: $secondary;
      text-decoration: none;
    }
}

.stikybottom {
  position: absolute;
  bottom:0;
  right:0;
}
