.navbar-lewagon {
  justify-content: space-between;
  background: $primary;
  box-shadow: 0px 1px 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  h3 {
   color: white;
   margin: 0;
   line-height: 1em;
  }
  .nav-link {
    color: white !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-link {
  color: white;
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggle:active {
  outline: none;
  box-shadow: none;
  border: none;
}
